/* Editor styles improvements */
.wp-block:hover {
  box-shadow: 0 0 0 1px purple;
}

.wp-block-group:hover {
  box-shadow: 0 0 0 1px chartreuse;
}

/* Buttons borders fix */
.wp-block-button .wp-element-button {
  border-width: 2px !important;
}